/* ########################################### */
/*                 Global                      */
/* ########################################### */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color: #e5ebf0;
}


h1{
    font-size:16px;
    font-weight: bolder;
}

a{
    text-decoration: none
}
.hide{
    display: none;
}


/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#a4b0c2;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;   
}


/*   Header Section    */

header{
    margin-inline: 10px;
}
  /* Nav Bar styles */



.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right:10px;
    color: #fff;
    cursor: pointer;
}

@font-face {
    font-family:aquire;
    src:url(aquire.otf);
}

.brand{
    font-size:60px;
    display: inline-block;
    font-family:aquire;color: red;
}
 @media screen and (max-width:500px){
    .brand{
        font-size: 25px;
    }
    .login_singup{
        font-size: 25px;
        color: red;
    }
    form input{
        width: 90%;
    }
 }


  /* Search Box styles */
.search-box{
    border: solid 1px #52057b;
    /* margin-top: 1rem; */
    margin: 20px;
    padding: 1rem;
    display:flex;
    justify-content: center;
    box-shadow:1px 2px 3px #52057b;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/* search box for smrtphones */
   


/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: #111314;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  #52057b;
    display: block;
    color: red;
    text-align: center;
}



/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
    font-size: 20px;
    padding: 10px;
}
h5{
    font-size: 18px;
    margin: 3px;
}
p{
    font-size: 25px;
}
.content{
    flex: 80%;
}

.body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.body .authors .username{
    font-size: 20px;
}

 img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 4px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}

#content {
    margin: 20px;
  }
  
  #messages {
    margin-top: 20px;
  }
  
  #messages p {
    border: 1px solid #333;
    padding: 10px;
  }
  #message{
    width: 90%;
    border-radius: 5px;
  }
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    color: #ff4d4f;
  }
  
  textarea {
    height: 100px;
    width: 100%;
  }

#btn{
    padding: 5px 20px 5px 20px;
    font-size: medium;
    cursor: pointer;
    border: #000000;
    border-radius: 5px;
    font-size: 20px;
}
#btn:hover{
  background-color: #2C2C2C;
  color: white;
}
#btn:active{
    background-color: green;
    color: white;
}

/* input{
    text-align: center;
    height: 30px;
} */

form input{
    height: 50px;
    width: 30%;
    border-radius: 5px;
}
form label{
    font-size: 20px;
}
form input[type="text"]
{
    font-size: 20px;
}

form textarea
{
    font-size: 20px;
}


.like_class button{
    height: 30px;
    width: 60px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;

}

.title_role{
text-align: justify;
margin-right: 10px;
}

.content{
  padding: 25px;
  text-align: justify;
}
/* form textarea{
    border-radius: 5px;
   
} */

.login_singup{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.login_form{
  margin-right: 20px;
}

.userInput{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}

.replyTextArea{
    border-radius: 5px;
    font-size: 20px;
}

@media screen and (max-width:900px){
     form input{
        width: 90%;
     }
     a{
        font-size: smaller;
        display: flex;
     }
     .icon_img{
        max-width: 40px;
        max-height: 40px;
      }
}

.icon_img{
    max-width: 50px;
    max-height: 50px;
  }

  a{
    display: flex;
  }

  .repler_name{
    font-family: sans-serif;
  }


  .question{
    font-family: 'aquire';

  }